html {
    font-family: 'Lora', serif;
    color: rgb(80, 80, 80);
}

div {
    border: 0.1px solid #e447cf;
}

.Container {
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: rgba(255, 40, 40, 0.959);
}

.Tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    
    background-color: azure;
}

.Title {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.Question {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 27px;
    line-height: 80px;
    font-style: italic;
}

.Abox {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Abutton {
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 55px;
    background-color: rgb(20, 214, 214);
}

.Abuttontext {
    /* width: 250px; */
    height: 50px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(20, 214, 214);
    line-height: 0px;
    color: rgb(32, 32, 32);
    font-family: 'Lora', 600;
}

.Submit {
    align-self: center;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 110px;
    margin: 30px;
    line-height: 12px;
    border: 7px solid #1b1b1b;
    border-radius: 25px;
}